<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 변경하기</title>
    <script>
        function get(){
            var val = document.getElementById("ex").innerText;
            alert(val);
        }
        function set(v){
            document.getElementById("ex").innerHTML = v; //요소의 내용을 변경   
        }
    </script>

</head>
<body>
    <div id="ex">
        <h1>여기가 div로 선언되었습니다.</h1>
        <a href="#" onclick="get()">div 요소 내용 출력하기</a><br>
        <a href="#" onclick="set('변경되었습니다')">div 요소 내용 변경하기</a><br>
    </div>
</body>
</html>